<% if users.any? %>
  <ul class="list-unstyled">
    <% users.each do |user| %>
      <li class="media">
        <div class="user-box">
          
            <% if user.myimage? %>
            
              <%= image_tag user.myimage.thumb50.url, class: 'myimage' %>
            
            <% end %>
            
            <%= user.name %>
          <p>【プロフィール】<%= user.profile %></p>
          <p><%= link_to 'ユーザーページ', user_path(user) %></p>

        </div>
      </li>
    <% end %>
  </ul>
  
<% end %>