.title {
    font-size: 120px; 
}

.review-box {
     border: 1px solid;
     margin: 5px;
     padding: 15px;
     height: 300px;
}


.review-image {
    
    height: 400px; 
    
}

.box-image {
    float: right;
    
}