p {
    margin: 0;
}

header{
    margin-bottom: 15px;
}

body{
    padding-top: 50px;
    background-color: #fff8cf;
    padding-bottom: 50px;
}

h1 {
    margin-top: 50px;
}


.margin-top-50 {
    margin-top: 50px;
}
.margin-bottom-50 {
    margin-bottom: 50px;
}


/*トップページ*/
.top-image {
    
    width: 100%;
    
}
.top-design{
   position: relative;
}
.top-design h1 {
  position: absolute;
  top: 15%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  font-family: 'Haettenschweiler';
  color: white;
  font-size: 8em;
  background: rgba(0,0,0,0.5);
  width: 100%;
}

.top-design h2 {
    position: absolute;
  top: 35%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  
  font-family: 'Haettenschweiler';
  color: white;
  font-size: 2em;
  background: rgba(0,0,0,0.5);
}
.top-design h3 {
    position: absolute;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  
  font-family: 'Haettenschweiler';
  color: white;
  font-size: 2em;
  background: rgba(0,0,0,0.5);
}



.top-design .top-button-1 {
      position: absolute;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.top-design .top-button-2 {
      position: absolute;
  top: 70%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.top-design .top-button-3 {
      position: absolute;
  top: 75%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}



.myimage {
    border-radius: 50px 50px;
    width: 50px;
}


/*レビュー一覧*/


.search-box {
    margin-top: 30px;
    font-size: 20px;
    
}

.review-box {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
   background-color: ivory;
  
}


.review-user-name {
    font-size: 25px;
}

.review-title {
    font-size: 30px;
    margin-top: 5px;
    border-bottom: 1px solid;
}

.review-list {
    font-size: 20px;
    margin-top: 30px;
    
}



.box-review-content {
   background-color: white;
   height: 100px;
     display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px;
    
    overflow-wrap: break-word;
　　　word-wrap: break-word;
}

.image-box{
    border: solid 5px #fffac2;
    height: 260px;
    width: 260px;
    margin-top: 60px;
    background-color: white;
   margin-right: 30px;
    
}

.review-time{
    margin-top: 20px;
}



/*ユーザーページ*/
.profile-box{
    margin-top: 20px;
}

.user-name {
    font-size: 40px; 
    margin-top: 20px;
}

.profile-btn{
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 10px;

}

.user-profile {
    width: 70%;
    padding: 10px;
    margin-bottom: 40px;
    background-color: ivory;
    overflow:hidden;
}



.user-box {
    margin-bottom: 8px;
    width: 100%;
    background-color: ivory;
    
}






/*レビュー詳細*/

.review-content {
   background-color: white;
     
    overflow: hidden;
    padding: 5px;
    
    overflow-wrap: break-word;
　　　word-wrap: break-word;
}


/*レビュー投稿*/

.title-form {
    width: 50%;
    margin-bottom: 20px;
}
.content-form {
    margin-bottom: 20px;
    width: 70%;
}

.point-form {
    margin-bottom: 20px;
    width: 5%;
}





.top-right{
    margin-bottom: 50px;
    
}


/*スマホ用*/

@media screen and (max-width: 999px) {
    
    body{
    padding-top: 150px;
    }
    
    /*トップページ*/
    .top-design h1 {
  
  font-size: 45px;
  
}
    
    .top-design h2 {
      position: absolute;
  top: 40%;
  left: 50%;
  font-size: 18px;
  width: 100%;
}
.top-design h3 {
      position: absolute;
  top: 50%;
  left: 50%;
  font-size: 18px;
  width: 100%;
  
}
.top-design .top-button-1 {
      position: absolute;
  top: 135%;
  width: 100%
}

.top-design .top-button-2 {
      position: absolute;
  top: 160%;
  left: 50%;
  
}

.top-design .top-button-3 {
      position: absolute;
  top: 180%;
  left: 50%;
  
}



    
    
    /*レビュー一覧*/
    .search-box {
    margin-top: 20px;
    font-size: 14px;
    
    }
    
    .review-box {
        font-size: 14px;
        width: auto;
    }
    .review-user-name {
    font-size: 15px;
    }
    .review-title {
    font-size: 18px;
    margin-top: 5px;
    border-bottom: 1px solid;
    }
    .review-list {
    font-size: 15px;

    }
    .image-box{
        margin: auto;
    }
    .review-time{
    margin-top: 10px;
    text-align: center;
}

    .box-review-content {
   height: 70px;
   
    }


    /*ユーザーページ*/
    
    .profile-box{
    font-size: 10px;
    }
    .user-name {
    font-size: 20px; 
    margin-top: 15px;
}
    .user-profile {
    width: 100%;
    font-size: 13px;
    padding: 10px;
    margin-bottom: 40px;
    background-color: ivory;
    overflow:hidden;
}
    /*レビュー投稿*/

.title-form {
    width: 100%;
    margin-bottom: 20px;
}
.content-form {
    margin-bottom: 20px;
    width: 100%;
}

.point-form {
    margin-bottom: 20px;
    width: 20%;
}




}
