.title {
    font-size: 120px; 
}

.review-box {
     border: 1px solid;
 
     
     
}


.review-image {
    
    height: 400px; 
    
    
    
}

.box-image {
    
    display: flex;
}

.review-title {
    font-size: 30px;
}

.box-review-content p {
    
     display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
    overflow: hidden;
    text-overflow: ellipsis;
}

.review-user-name {
    font-size: 25px;
}

.myimage {
    border-radius: 50px 50px;
}