<p>タイトル検索</p>
<%= form_tag(reviews_path, :method => 'get') do %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search', :name => nil %>
<% end %>


<%= render 'reviews/reviews', reviews: @reviews, user: @user %>
